@import url(https://fonts.google.com/specimen/Poppins);

:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Styles to titles and paragraph */
h1, h2{
    color: var(--very-dark-blue);
}

h2 {
    margin-bottom: -1rem;
}   

span {
    font-weight:initial;
}

span::before { content: '\A'; white-space: pre;}

p{    
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: var(--grayish-blue);
}

body{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

/* Primary Card */
.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Card text styles */
.card-text{
    text-align: center;
    margin: 2rem 0rem;
}

.card-text h1{
    font-size: 2.6rem;
}

/* Others body cards */
.card-supervisor {
    padding: 1rem 3.5rem;
    margin-bottom: 3rem;

    width: 30rem;
    height: 22rem;
        
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0px var(--grayish-blue);
    border-top: 5px solid var(--cyan);
}

/* Cards double */
.card-double {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.card-builder {
    padding: 1rem 3rem;
    margin-bottom: 3rem;

    width: 30rem;
    height: 22rem;
        
    border: 0.3rem solid;
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0 var(--grayish-blue);
    border-color: var(--red) white white white;
}

.card-karma{
    padding: 1rem 3.5rem;
    margin-bottom: 3rem;

    width: 30rem;
    height: 22rem;
        
    border: 0.3rem solid;
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0 var(--grayish-blue);
    border-color: var(--orange) white white white;
}

/* Finally Card */
.card-calculator{
    padding: 1rem 3.5rem;
    margin-bottom: 2rem;

    width: 30rem;
    height: 22rem;
        
    border: 0.3rem solid;
    border-radius: 1rem;
    box-shadow: 0 5px 15px 0 var(--grayish-blue);
    border-color: var(--blue) white white white;
}

.img-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* Style from frontendMentor */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Styles for desktop view */
@media (min-width: 1080px) {
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card-calculator{
        margin-left: 3rem;
    }

    .card-supervisor{
        margin-right: 3rem;
    }

    span::before {display: none;}    
    
    span::after { content: '\A'; white-space: pre;}
}

